body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
  background-color: lavender;
  
}

input[type="text"] {
  padding: 8px 8px;
  margin: 6px 0;
  box-sizing: border-box;
  font-size: large;
}

button {
  background-color: lightcoral;
  padding: 8px 8px;
  font-size: large;
}

#results {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: large;
}